/* Скрытые блоки */ 
.to_decide {
	display: none;
}
.solve_using_formula1 {
	display: none;
}
.solve_using_formula2 {
	display: none;
}
.solve_using_formula3 {
	display: none;
}
.solve_using_formula4 {
	display: none;
}
.roll_up_plus_or_minus {
	display: none;
}
.roll_up_two_formul {
	display: none;
}
/**/ 
.abbreviating_formulas {
	font-size: 70px;
	padding: 10px;
	text-align: center;
	text-shadow: 0px 0px 0px black;
	border-bottom: 2px solid #4682B4;
}
.select_formulas {
	display: flex;
	justify-content: space-around;
	background-color: #4682B4;
}
.select_formulas a {
	font-size: 45px;
	color: #000000;
	border-right: 1px solid #00008B;
	border-left: 1px solid #00008B;
	flex-grow: 1;
	text-align: center;
	padding: 20px 0px 20px 0px;
}
.formulae:hover {
	background-color: #9370DB;
}
.to_decide {
	font-size: 40px;
	margin: 10px;
}
.to_decide span{
	color: red;
	text-shadow: 0px 0px 0px black;
}
.not_clicked_text {
	font-size: 40px;
	text-align: center;
}
.img_not_click {
	margin: 10px;
	display: flex;
	justify-content: center;
}
.img_not {
	width: 200px;
}
.collapse_expand {
	display: flex;
	justify-content: center;
	font-size: 40px;
}
.collapse_expand a {
	margin: 20px;
	background-color: #7FFFD4;
	padding: 10px;
	color: #800080;
	border: 1px solid black;
	width: 500px;
	text-align: center;
	border-radius: 30px;
}
.collapse_expand a:hover {
	background-color: #AFEEEE;
}
.write_formula {
	display: flex;
	align-items: flex-end;
	margin: 20px 0px 0px 20px;
}
.enter_the_formula {
	display: flex;
	font-size: 50px;
}
.enter_the_formula input {
	font-size: 50px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px 0px 0px 0px;
	width: 200px;
	background-color: #87CEEB;
}
.enter_the_formula sup	{
	color: red;
	text-shadow: 0px 0px 0px black;
} 
.enter_the_formula p {
	margin: 20px 20px 0px 10px;
} 
.solve_specified_formula {
	display: flex;
	justify-content: space-around;
	min-width: 30%;
}
.solve_specified_formula button {
	font-size: 60px;
	color: #DC143C;
	background-color: #FFD700;
	border: 1px solid black;
	border-radius: 10px;
}
.solve_specified_formula button:hover {
	background-color: #F0E68C;
}
.formula_text {
	font-size: 60px;
	margin: 20px;
	color: #DC143C;
	text-shadow: 0px 0px 0px black;
}
.solving_formula {
	font-size: 50px;
	display: flex;
	color: #DC143C;
	text-shadow: 0px 0px 0px black;
}
.bracket_formula {
	margin: 0px 5px 0px 5px;
}
.rollUp {
	display: none;
}
.enter_rollUp {
	font-size: 50px;
	display: flex;
	align-items: center;
}
.enter_rollUp input {
	font-size: 50px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px 10px 8px 10px;
	width: 150px;
	background-color: #87CEEB;
}
.enter_rollUp p {
	margin: 0px 10px 0px 10px;
	align-items: center;
}
.enter_rollUp div {
	color: red;
	text-shadow: 0px 0px 0px black;
	font-size: 70px;
}
.enter_rollUp nav {
	display: block;
	color: red;
	text-shadow: 0px 0px 0px black;
	margin: 10px 10px 0px 10px;
}
.insert_rollUp {
	display: flex;
	align-items: flex-end;
}
.solve_button_rollUp button {
	font-size: 60px;
	color: #DC143C;
	background-color: #FFD700;
	border: 1px solid black;
	border-radius: 10px;
}
.solve_button_rollUp button:hover {
	background-color: #F0E68C;
}
.solve_button_rollUp {
	min-width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.decision_rollup p {
	color: #DC143C;
	font-size: 60px;
	text-shadow: 0px 0px 0px black;
	margin: 20px;
}
.decision_rollup {
	color: #DC143C;
	font-size: 50px;
}
.answer_decision_rollup {
	display: flex;
	justify-content: center;
	align-items: center;
}
.answer_decision_rollup_inline_block {
	display: inline-block;
}
.number {
	margin: 0px 10px 0px 10px;
}
.answer_decision_rollup sup {
	font-size: 40px;
	margin: 5px 5px 25px -10px;
}
.minus_center {
	margin: 0px 10px 0px 5px;
}
.center_plus_minus {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 0px 10px;
}
.center_plus_minus a {
	background-color: #E0FFFF;
	color: #2F4F4F;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	border: 1px solid black;
	border-radius: 5px;
}
.enter_rollUp .small {
	font-size: 60px;

	margin: 12px 5px 0px 5px;
}
.font {
	font-size: 30px;
}
.center_plus_minus span {
	margin: 0px 10px 0px 10px;
}
.center_plus_minus a:hover {
	background-color:  #00FF7F;
}
.number_wight {
	margin: 0px 10px 0px 10px;
}
.change_minus {
	font-size: 50px;
	color: black;
	text-shadow: none;
}
.enter_rollUp sup {
	margin: 0px 0px 20px -10px;
	color: red;
	box-shadow: 0px 0px 0px black;
}
.update_p_l {
	padding: 0px 0px 0px 15px;
}
.two_formul {
	padding: 0px 0px 25px 10px;
}
.enter_rollUp_nub span {
	margin: 5px 10px 0px 10px;
}
.retreat {
	margin: 0px 15px 0px 15px;
}
.two_2 {
	padding: 0px 0px 0px 10px;
}
.mall {
	font-size: 45px;

}
.mall_block nav {
	margin: 10px 10px 0px 0px;
}
.solve_button_rollUp_mall {
 	min-width: 15%;
}
.write_formula1 {
	display: flex;
	margin: 0px 0px 0px 20px;
}
/* Заголовок */
@media(max-width: 1293px) {
	.abbreviating_formulas {
		font-size: 65px;
	}
}
@media(max-width: 1200px) {
	.abbreviating_formulas {
		font-size: 60px;
	}
}
@media(max-width: 1110px) {
	.abbreviating_formulas {
		font-size: 55px;
	}
}
@media(max-width: 1020px) {
	.abbreviating_formulas {
		font-size: 50px;
		padding: 5px 0px 5px 0px;
	}
}
@media(max-width: 906px) {
	.abbreviating_formulas {
		font-size: 45px;
	}
}
@media(max-width: 693px) {
	.abbreviating_formulas {
		font-size: 40px;
	}
}
@media(max-width: 417px) {
	.abbreviating_formulas {
		font-size: 35px;
	}
}
@media(max-width: 363px) {
	.abbreviating_formulas {
		font-size: 30px;
	}
}
@media(max-width: 312px) {
	.abbreviating_formulas {
		font-size: 25px;
	}
}
/* Выбор формулы */ 
@media(max-width: 1197px) {
	.select_formulas a {
		padding: 10px 0px 10px 0px;
		font-size: 40px;
	}
}
@media(max-width: 738px) {
	.select_formulas a {
		font-size: 35px;
	}
}
@media(max-width: 417px) {
	.select_formulas a {
		padding: 5px 0px 5px 0px;
		font-size: 30px;
	}
}
@media(max-width: 357px) {
	.select_formulas a {
		font-size: 25px;
	}
}
@media(max-width: 300px) {
	.select_formulas a {
		font-size: 20px;
	}
}
@media(max-width: 243px) {
	.select_formulas a {
		font-size: 15px;
	}
}