/* Скрытые блоки */ 
.to_decide {
	display: none;
}
.solve_using_formula1 {
	display: none;
}
.solve_using_formula2 {
	display: none;
}
.solve_using_formula3 {
	display: none;
}
.solve_using_formula4 {
	display: none;
}
.roll_up_plus_or_minus {
	display: none;
}
.roll_up_two_formul {
	display: none;
}
/**/ 
.abbreviating_formulas {
	font-size: 70px;
	padding: 10px;
	text-align: center;
	text-shadow: 0px 0px 0px black;
	border-bottom: 2px solid #4682B4;
}
.select_formulas {
	display: flex;
	justify-content: space-around;
}
.select_formulas a {
	display: block;
	padding: 20px 0px 20px 0px;
	font-size: 45px;
	color: #000000;
}
.select_formulas div {
	border-right: 1px solid #00008B;
	border-left: 1px solid #00008B;
	flex-grow: 1;
	text-align: center;
	background-color: #4682B4;
}
.formulae:hover {
	background-color: #9370DB;
}
.to_decide {
	font-size: 40px;
	margin: 10px;
}
.to_decide span{
	color: red;
	text-shadow: 0px 0px 0px black;
}
.not_clicked_text {
	font-size: 40px;
	text-align: center;
}
.img_not_click {
	margin: 10px;
	display: flex;
	justify-content: center;
}
.img_not {
	width: 200px;
}
.collapse_expand {
	display: flex;
	justify-content: center;
	font-size: 40px;
}
.collapse_expand a {
	margin: 20px;
	background-color: #7FFFD4;
	padding: 10px;
	color: #800080;
	border: 1px solid black;
	width: 500px;
	text-align: center;
	border-radius: 30px;
}
.collapse_expand a:hover {
	background-color: #AFEEEE;
}
.write_formula {
	display: flex;
	align-items: flex-end;
	margin: 20px 0px 0px 20px;
}
.enter_the_formula {
	display: flex;
	font-size: 50px;
}
.enter_the_formula input {
	font-size: 50px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px 0px 0px 0px;
	width: 200px;
	background-color: #87CEEB;
}
.enter_the_formula sup	{
	color: red;
	text-shadow: 0px 0px 0px black;
} 
.enter_the_formula p {
	margin: 20px 20px 0px 10px;
} 
.solve_specified_formula {
	display: flex;
	justify-content: space-around;
	min-width: 30%;
}
.solve_specified_formula button {
	font-size: 60px;
	color: #DC143C;
	background-color: #FFD700;
	border: 1px solid black;
	border-radius: 10px;
}
.solve_specified_formula button:hover {
	background-color: #F0E68C;
}
.formula_text {
	font-size: 60px;
	margin: 20px;
	color: #DC143C;
	text-shadow: 0px 0px 0px black;
}
.solving_formula {
	font-size: 50px;
	display: flex;
	color: #DC143C;
	text-shadow: 0px 0px 0px black;
}
.bracket_formula {
	margin: 0px 5px 0px 5px;
}
.rollUp {
	display: none;
}
.enter_rollUp {
	font-size: 50px;
	display: flex;
	align-items: center;
}
.enter_rollUp input {
	font-size: 50px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px 10px 8px 10px;
	width: 150px;
	background-color: #87CEEB;
}
.enter_rollUp p {
	margin: 0px 10px 0px 10px;
	align-items: center;
}
.enter_rollUp div {
	color: red;
	text-shadow: 0px 0px 0px black;
	font-size: 70px;
}
.enter_rollUp nav {
	display: block;
	color: red;
	text-shadow: 0px 0px 0px black;
	margin: 10px 10px 0px 10px;
}
.insert_rollUp {
	display: flex;
	align-items: flex-end;
}
.solve_button_rollUp button {
	font-size: 60px;
	color: #DC143C;
	background-color: #FFD700;
	border: 1px solid black;
	border-radius: 10px;
}
.solve_button_rollUp button:hover {
	background-color: #F0E68C;
}
.solve_button_rollUp {
	min-width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.decision_rollup p {
	color: #DC143C;
	font-size: 60px;
	text-shadow: 0px 0px 0px black;
	margin: 20px;
}
.decision_rollup {
	color: #DC143C;
	font-size: 50px;
}
.answer_decision_rollup {
	display: flex;
	justify-content: center;
	align-items: center;
}
.answer_decision_rollup_inline_block {
	display: inline-block;
}
.number {
	margin: 0px 10px 0px 10px;
}
.answer_decision_rollup sup {
	font-size: 40px;
	margin: 5px 5px 25px -10px;
}
.minus_center {
	margin: 0px 10px 0px 5px;
}
.center_plus_minus {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 0px 10px;
}
.center_plus_minus a {
	background-color: #E0FFFF;
	color: #2F4F4F;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	border: 1px solid black;
	border-radius: 5px;
}
.enter_rollUp .small {
	font-size: 60px;

	margin: 12px 5px 0px 5px;
}
.font {
	font-size: 30px;
}
.center_plus_minus span {
	margin: 0px 10px 0px 10px;
}
.center_plus_minus a:hover {
	background-color:  #00FF7F;
}
.number_wight {
	margin: 0px 10px 0px 10px;
}
.change_minus {
	font-size: 50px;
	color: black;
	text-shadow: none;
}
.enter_rollUp sup {
	margin: 0px 0px 20px -10px;
	color: red;
	box-shadow: 0px 0px 0px black;
}
.update_p_l {
	padding: 0px 0px 0px 15px;
}
.two_formul {
	padding: 0px 0px 25px 10px;
}
.enter_rollUp_nub span {
	margin: 5px 10px 0px 10px;
}
.retreat {
	margin: 0px 15px 0px 15px;
}
.two_2 {
	padding: 0px 0px 0px 10px;
}
.mall {
	font-size: 45px;

}
.mall_block nav {
	margin: 10px 10px 0px 0px;
}
.solve_button_rollUp_mall {
 	min-width: 15%;
}
.write_formula1 {
	display: flex;
	margin: 0px 0px 0px 20px;
}
/* Заголовок */
@media(max-width: 1293px) {
	.abbreviating_formulas {
		font-size: 65px;
	}
}
@media(max-width: 1200px) {
	.abbreviating_formulas {
		font-size: 60px;
	}
}
@media(max-width: 1110px) {
	.abbreviating_formulas {
		font-size: 55px;
	}
}
@media(max-width: 1020px) {
	.abbreviating_formulas {
		font-size: 50px;
		padding: 5px 0px 5px 0px;
	}
}
@media(max-width: 906px) {
	.abbreviating_formulas {
		font-size: 45px;
	}
}
@media(max-width: 693px) {
	.abbreviating_formulas {
		font-size: 40px;
	}
}
@media(max-width: 417px) {
	.abbreviating_formulas {
		font-size: 35px;
	}
}
@media(max-width: 363px) {
	.abbreviating_formulas {
		font-size: 30px;
	}
}
@media(max-width: 312px) {
	.abbreviating_formulas {
		font-size: 25px;
	}
}
/* Выбор формулы */ 
@media(max-width: 1197px) {
	.select_formulas a {
		padding: 10px 0px 10px 0px;
		font-size: 40px;
		margin: 0px;
	}
}
@media(max-width: 738px) {
	.select_formulas a {
		font-size: 35px;
		margin: 0px;
	}
}
@media(max-width: 417px) {
	.select_formulas a {
		padding: 5px 0px 5px 0px;
		font-size: 30px;
		margin: 0px;
	}
}
@media(max-width: 360px) {
	.select_formulas a {
		font-size: 25px;
		margin: 0px;
	}
	.select_formulas {
		display: block;
	}
	.select_formulas a {
		font-size: 40px;
		border-bottom: 1px solid #00008B;
		border-top: 1px solid #00008B;
		margin: 0px;
	}
}
/* Стрелка */
@media(max-width: 447px) {
	.img_not {
		width: 100px;
		height: 60px;
	}
	.not_clicked_text {
		font-size: 30px;
	}
}
/* Развернуть и свернуть */
@media(max-width: 969px) {
	.collapse_expand {
		font-size: 33px;
	}
	.collapse_expand a {
		margin: 10px 3px 10px 3px;
		padding: 5px 0px 5px 0px;
	}
}
@media(max-width: 591px) {
	.collapse_expand {
		font-size: 30px;
	}
}
@media(max-width: 540px) {
	.collapse_expand {
		font-size: 25px;
	}
}
@media(max-width: 453px) {
	.collapse_expand {
		font-size: 20px;
	}
}
@media(max-width: 420px) {
	.collapse_expand {
		font-size: 25px;
	}
}
/* Перенос решить */
@media(max-width: 1662px) {
	.flex_none {
		display: block;
	}
	.formula_enter_class {
		display: block;
		margin: 20px 0px 0px 0px;
	}
	.UP_formula {
		margin: 20px 0px 0px 20px;
	}
}
/* Первая формула */
@media(max-width: 915px) {
	.formula_num_1 input {
		font-size: 45px;
		width: 170px;
	}
	.formula_num_1 sup {
		font-size: 35px;
	}
	.formula_num_1_solve button {
		font-size: 55px;
	}
	.formula_num_1_expand div {
		font-size: 35px;
		margin: 5px 0px 0px 0px;
	}
	.formula_num_1_expand .expand_0 {
		font-size: 55px;
		margin: 10px 0px 0px 20px
	}
}
@media(max-width: 543px) {
	.formula_num_1 input {
		font-size: 40px;
		width: 140px;
	}
	.formula_num_1 sup {
		font-size: 30px;
	}
	.formula_num_1_solve button {
		font-size: 50px;
	}
	.formula_num_1_expand .expand_0 {
		font-size: 50px;
		margin: 10px 0px 0px 20px;
	}
}
@media(max-width: 450px) {
	.formula_num_1 input {
		font-size: 35px;
		width: 120px;
	}
	.formula_num_1 {
		margin: 0px;
	}
	.formula_num_1 sup {
		font-size: 25px;
		padding: 6px 0px 0px 0px;
	}
	.formula_num_1 p {
		font-size: 40px;
		margin: 15px 10px 0px 0px;
	}
	.formula_num_1_solve button {
		font-size: 45px;
	}
	.formula_num_1_expand div {
		font-size: 25px;
		margin: 5px 0px 0px 0px;
	}
	.formula_num_1_expand .expand_0 {
		font-size: 45px;
		margin: 10px 0px 0px 0px;
	}
}
/* Вторая формула */ 
@media(max-width: 987px) {
	.formula_num_2 input {
		font-size: 45px;
		width: 110px;
		height: 45px;
	}
	.formula_num_2 nav {
		font-size: 45px;
		margin: 10px 2px 0px 2px;
	}
	.formula_num_2 div {
		font-size: 60px;
	}
	.formula_num_2 p {
		margin: 0px;
	}
	.formula_num_2_solve button {
		font-size: 45px;
	}
	.formula_num_2_expand p {
		font-size: 45px;
	}
	.formula_num_2_expand div {
		font-size: 35px;
	}
	.formula_num_2_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 729px) {
	.formula_num_2 input {
		font-size: 40px;
		width: 100px;
		height: 40px;
	}
	.formula_num_2 nav {
		font-size: 40px;
	}
	.formula_num_2 div {
		font-size: 55px;
	}
	.formula_num_2_solve button {
		font-size: 40px;
	}
	.formula_num_2_expand p {
		font-size: 40px;
		margin: 10px 0px 0px 20px;
	}
	.formula_num_2_expand div {
		font-size: 30px;
		margin: 0px;
	}
	.formula_num_2_expand sup {
		font-size: 25px;
		padding: 0px 0px 0px 10px;
	}
	.formula_num_2_expand {
		margin: 0px;
	}
}
@media(max-width: 552px) {
	.formula_num_2 input {
		font-size: 35px;
		width: 90px;
		margin: 5px 3px 0px 3px;
		height: 35px;
	}
	.formula_num_2 nav {
		font-size: 35px;
		margin: 5px 0px 0px 0px;
	}
	.formula_num_2 div {
		font-size: 45px;
	}
	.formula_num_2 p {
		font-size: 35px;
		margin: 0px 5px 0px 5px;
	}
	.formula_num_2_solve button {
		font-size: 40px;
	}
	.button_rollUp1 {
		margin: 10px 0px 0px 0px;
	}
	.formula_num_2_expand p {
		font-size: 40px;
		margin: 10px 0px 0px 0px;
	}
}
@media(max-width: 459px) {
	.formula_num_2 input {
		font-size: 30px;
		width: 75px;
		margin: 7px 3px 0px 3px;
		height: 30px;
		border-radius: 7px;
	}
	.formula_num_2 nav {
		font-size: 30px;
		margin: 7px 0px 0px 0px;
	}
	.formula_num_2 div {
		font-size: 45px;
	}
}
/* Третья формула */ 
@media(max-width: 939px) {
	.formula_num_3 input {
	 	font-size: 45px;
	 	width: 120px
	}
	.formula_num_3 sup {
		font-size: 40px;
	}
	.formula_num_3 .center_plus_minus a {
		width: 45px;
		height: 30px;
	}
	.formula_num_3 .center_plus_minus span {
		font-size: 40px;
	}
	.formula_num_3 .center_plus_minus {
		margin: 20px 10px 0px 0px;
	}
	.formula_num_3_solve button {
		font-size: 45px;
	}
	.formula_num_3_expand p {
		font-size: 45px;
		margin: 10px 0px 0px 20px;
	}
	.formula_num_3_expand div {
		font-size: 35px;
	}
	.formula_num_3_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 543px) {
	.formula_num_3 input {
	 	font-size: 40px;
	 	width: 105px
	}
	.formula_num_3 sup {
		font-size: 35px;
	}
	.formula_num_3 .center_plus_minus a {
		width: 40px;
		height: 25px;
	}
	.formula_num_3 .center_plus_minus span {
		font-size: 35px;
	}
	.formula_num_3_solve button {
		font-size: 40px;
	}
	.formula_num_3_expand p {
		font-size: 40px;
	}
	.formula_num_3_expand div {
		font-size: 25px;
		margin: 0px;
	}
	.formula_num_3_expand sup {
		font-size: 20px;
		padding: 0px 0px 0px 10px;
	}
}
@media(max-width: 399px) {
	.formula_num_3 input {
	 	font-size: 35px;
	 	width: 90px
	}
	.formula_num_3 {
		margin: 0px;
	}
	.formula_num_3 sup {
		font-size: 30px;
	}
	.formula_num_3 .center_plus_minus a {
		width: 35px;
		font-size: 30px;
		height: 20px;
	}
	.formula_num_3 .center_plus_minus span {
		font-size: 30px;
		margin: 0px 3px 0px 3px;
	}
	.formula_num_3_solve button {
		font-size: 35px;
	}
	.formula_num_3_expand p {
		font-size: 35px;
		margin: 10px 0px 0px 0px;
	}
}
/* Четвертая формула */ 
@media(max-width: 1425px) {
	.formula_num_4 input {
		font-size: 45px;
		width: 90px;
		height: 45px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_4 nav {
		font-size:  45px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_4 sup {
		font-size: 35px;
		padding: 0px 0px 0px 10px;
	}
	.formula_num_4 div {
		font-size: 60px;
	}
	.formula_num_4 .center_plus_minus a {
		font-size: 25px;
		width: 45px;
	}
	.formula_num_4 .center_plus_minus span {
		font-size: 35px;
		margin: 0px 3px 0px 3px;
	}
	.formula_num_4_solve button {
		font-size: 45px;
	}
	.formula_num_4_expand p {
		font-size: 45px;
	}
	.formula_num_4_expand div {
		font-size: 40px;
	}
	.formula_num_4_expand sup {
		font-size: 35px;
	}
}
@media(max-width: 1128px) {
	.formula_num_4 input {
		font-size: 40px;
		width: 80px;
		height: 40px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_4 div {
		font-size: 55px;
	}
	.formula_num_4 nav {
		font-size:  40px;
	}
	.formula_num_4 sup {
		font-size: 30px;
	}
	.formula_num_4 .center_plus_minus a {
		font-size: 25px;
		width: 35px;
		height: 20px;
	}
	.formula_num_4 .center_plus_minus span {
		font-size: 35px;
		margin: 0px 3px 0px 3px;
	}
	.formula_num_4_expand div {
		font-size: 35px;
	}
	.formula_num_4_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 999px) {
	.formula_num_4 input {
		font-size: 35px;
		width: 70px;
		height: 35px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_4 div {
		font-size: 50px;
	}
	.formula_num_4 nav {
		font-size:  35px;
	}
	.formula_num_4 sup {
		font-size: 25px;
	}
}
@media(max-width: 897px) {
	.formula_num_4 input {
		font-size: 30px;
		width: 60px;
		height: 30px;
		margin: 10px 0px 0px 0px;
		border-radius: 7px;
	}
	.formula_num_4 div {
		font-size: 45px;
	}
	.formula_num_4 nav {
		font-size:  30px;
	}
	.formula_num_4 sup {
		font-size: 25px;
	}
	.formula_num_4_solve button {
		font-size: 40px;
	}
	.formula_num_4_expand p {
		font-size: 40px;
	}
}
@media(max-width: 693px) {
	.formula_num_4_solve {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_4_expand p {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_4_expand div {
		font-size: 30px;
	}
	.formula_num_4_expand sup {
		font-size: 25px;
	}
}
/* Пятая формула */ 
@media(max-width: 975px) {
	.formula_num_5 input {
		font-size: 45px;
		width: 110px;
	}
	.formula_num_5 div {
		font-size: 65px;
	}
	.formula_num_5 span {
		font-size: 45px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_5 sup {
		font-size: 40px;
	}
	.formula_num_5_solve button {
		font-size: 45px;
	}
	.formula_num_5_expand p {
		font-size: 45px;
	}
	.formula_num_5_expand div {
		font-size: 40px;
		margin: 0px 2px 0px 2px;
	}
	.formula_num_5_expand sup {
		font-size: 35px;
	}
}
@media(max-width: 570px) {
	.formula_num_5 input {
		font-size: 40px;
		width: 100px;
	}
	.formula_num_5 div {
		font-size: 60px;
	}
	.formula_num_5 span {
		font-size: 40px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_5 sup {
		font-size: 35px;
	}
	.formula_num_5_solve button {
		font-size: 40px;
	}
	.formula_num_5_expand p {
		font-size: 40px;
	}
	.formula_num_5_expand div {
		font-size: 35px;
		margin: 0px 2px 0px 2px;
	}
	.formula_num_5_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 414px) {
	.formula_num_5 input {
		font-size: 35px;
		width: 90px;
	}
	.formula_num_5 div {
		font-size: 55px;
	}
	.formula_num_5 span {
		font-size: 35px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_5 sup {
		font-size: 30px;
	}
	.formula_num_5_solve button {
		font-size: 40px;
	}
	.formula_num_5_solve {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_5_expand p {
		font-size: 40px;
		margin: 20px 0px 0px 0px;
	}
	.formula_num_5_expand div {
		font-size: 30px;
		margin: 0px 2px 0px 2px;
	}
	.formula_num_5_expand sup {
		font-size: 25px;
	}
}
/* Шестая формула */ 
@media(max-width: 896px) {
	.formula_num_6 input {
		font-size: 45px;
		width: 110px;
		height: 45px;
	}
	.formula_num_6 .small {
		font-size: 45px;
	}
	.formula_num_6 div {
		font-size: 60px;
	}
	.formula_num_6_solve button {
		font-size: 45px;
	}
	.formula_num_6_expand p {
		font-size: 45px;
	}
	.formula_num_6_expand div {
		font-size: 40px;
	}
	.formula_num_6_expand sup {
		font-size: 35px;
	}
}
@media(max-width: 599px) {
	.formula_num_6 input {
		font-size: 40px;
		width: 100px;
		height: 40px;
	}
	.formula_num_6 .small {
		font-size: 40px;
	}
	.formula_num_6 div {
		font-size: 55px;
	}
	.formula_num_6_solve button {
		font-size: 40px;
	}
	.formula_num_6_expand p {
		font-size: 40px;
	}
	.formula_num_6_expand div {
		font-size: 35px;
	}
	.formula_num_6_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 494px) {
	.formula_num_6 input {
		font-size: 35px;
		width: 85px;
		height: 35px;
		border-radius: 7px;
		margin: 10px 3px 0px 3px;
	}
	.formula_num_6 .small {
		font-size: 35px;
		margin: 10px 2px 0px 2px;
	}
	.formula_num_6 div {
		font-size: 50px;
	}
	.formula_num_6_solve button {
		font-size: 35px;
	}
	.formula_num_6_solve {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_6_expand p {
		font-size: 35px;
		margin: 20px 0px 0px 0px;
	}
	.formula_num_6_expand div {
		font-size: 30px;
	}
	.formula_num_6_expand sup {
		font-size: 25px;
	}
}
/* Седьмая формула */ 
@media(max-width: 1394px) {
	.formula_num_7 input{
		font-size: 45px;
		width: 90px;
		height: 45px;
	}
	.formula_num_7 div {
		font-size: 60px;
	}
	.formula_num_7 sup {
		font-size: 40px;
	}
	.formula_num_7 .center_plus_minus a {
		font-size: 30px;
		width: 45px;
		height: 25px;
	}
	.formula_num_7 .center_plus_minus span {
		font-size: 40px;
		margin: 0px 5px 0px 5px;
	}
	.formula_num_7_solve button {
		font-size: 45px;
	}
	.formula_num_7_expand p {
		font-size: 45px;
	}
	.formula_num_7_expand div {
		font-size: 35px;
		margin: 0px;
	}
	.formula_num_7_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 590px) {
	.formula_num_7 input{
		font-size: 40px;
		width: 80px;
		height: 40px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_7 div {
		font-size: 55px;
	}
	.formula_num_7 sup {
		font-size: 35px;
	}
	.formula_num_7 .center_plus_minus a {
		font-size: 25px;
		width: 40px;
		height: 20px;
	}
	.formula_num_7 .center_plus_minus span {
		font-size: 35px;
		margin: 0px 5px 0px 5px;
	}
	.formula_num_7_solve button {
		font-size: 40px;
	}
	.formula_num_7_expand p {
		font-size: 40px;
	}
	.formula_num_7_expand div {
		font-size: 30px;
		margin: 0px;
	}
	.formula_num_7_expand sup {
		font-size: 25px;
	}
}
@media(max-width: 407px) {
	.formula_num_7 input{
		font-size: 35px;
		width: 70px;
		height: 35px;
		margin: 10px 0px 0px 0px;
	}
	.formula_num_7 div {
		font-size: 50px;
	}
	.formula_num_7 sup {
		font-size: 30px;
	}
	.formula_num_7 .center_plus_minus a {
		font-size: 20px;
		width: 35px;
		height: 20px;
	}
	.formula_num_7 .center_plus_minus span {
		font-size: 30px;
		margin: 0px 5px 0px 5px;
	}
	.formula_num_7_solve button {
		font-size: 40px;
	}
	.formula_num_7_solve {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_7_expand p {
		font-size: 35px;
		margin: 20px 0px 0px 0px;
	}
	.formula_num_7_expand div {
		font-size: 30px;
		margin: 0px;
	}
	.formula_num_7_expand sup {
		font-size: 25px;
	}
} 
/* Восьмая формула */ 
@media(max-width: 1184px) {
	.formula_num_8 input {
		font-size: 45px;
		width: 90px;
		height: 45px;
	}
	.formula_num_8 div {
		font-size: 60px;
	}
	.formula_num_8 .small {
		font-size: 45px;
	}
	.formula_num_8 sup {
		font-size: 40px;
	}
	.formula_num_8_solve button {
		font-size: 40px;
	}
	.formula_num_8_expand p {
		font-size: 40px;
	}
	.formula_num_8_expand div {
		font-size: 40px;
	}
	.formula_num_8_expand sup {
		font-size: 35px;
	}
}
@media(max-width: 863px) {
	.formula_num_8 input {
		font-size: 40px;
		width: 80px;
		height: 40px;
	}
	.formula_num_8 div {
		font-size: 55px;
	}
	.formula_num_8 .small {
		font-size: 40px;
		margin: 10px 3px 0px 3px;
	}
	.formula_num_8 sup {
		font-size: 35px;
	}
	.formula_num_8_solve button {
		font-size: 35px;
	}
	.formula_num_8_expand p {
		font-size: 35px;
	}
	.formula_num_8_expand div {
		font-size: 35px;
	}
	.formula_num_8_expand sup {
		font-size: 30px;
	}
}
@media(max-width: 752px) {
	.formula_num_8 input {
		font-size: 35px;
		width: 70px;
		height: 35px;
		border-radius: 7px;
	}
	.formula_num_8 div {
		font-size: 50px;
	}
	.formula_num_8 .small {
		font-size: 35px;
		margin: 10px 3px 0px 3px;
	}
	.formula_num_8 sup {
		font-size: 30px;
	}
}
@media(max-width: 569px) {
	.formula_num_8 input {
		font-size: 30px;
		width: 60px;
		height: 30px;
		border-radius: 7px;
	}
	.formula_num_8 div {
		font-size: 45px;
	}
	.formula_num_8 .small {
		font-size: 30px;
		margin: 10px 3px 0px 3px;
	}
	.formula_num_8 sup {
		font-size: 25px;
		padding: 0px;
	}
	.formula_num_8_solve {
		margin: 20px 0px 0px 0px;
	}
	.formula_num_8_expand p {
		margin: 20px 0px 0px 0px;
	}
}